<h1> AbuseIPDB IP Check Results </h1>

<h2> Summary </h2>

<ul>
    <li>IP: {{results.ip}}</li>
    <li>Country Code: {{results.country_code}}</li>
    <li>Usage Type: {{results.usage_type}}</li>
    <li>ISP: {{results.isp}}</li>
    <li>Domain: {{results.domain}}</li>
    <li>Abuse Confidence Score: {{results.abuse_confidence_score}}</li>
    <li>Total Reports: {{results.total_reports}}</li>
</ul>

<h2> Metadata </h2>
<ul>
    <li>Source: {{results.source}}</li>
    <li>Retrieved At: {{results.retrieved_at}}</li>
</ul>
